sources/releases/

# Produtos de compilação
*.exe
*.dll
*.dcu
*.obj
*.map
*.ppu
*.o

# Conteúdo multimídia massivo
*.wav
*.mp3
*.avi
*.mid

# Exceções Especiais de Preservação Arqueológica
!sources/orphan-binaries/*.exe
!sources/orphan-binaries/*.dll
!sources/audio-historical/*.wav
!sources/audio-historical/*.mp3
dosvox-archeology/scratch/
